body {
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans", sans-serif;
}

.x-shape {
  transform: rotate(45deg);
  height: 24px;
  width: 64px;
  background: orchid;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 30px;
  animation: rotate-fade-in 4s 1;
}

.header {
  position: relative;
}

.header-title {
  font-size: 40px;
  background: rgb(255, 36, 247);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 36, 247, 1) 24%,
    rgba(183, 59, 255, 1) 89%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 36, 247, 1) 24%,
    rgba(183, 59, 255, 1) 89%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 36, 247, 1) 24%,
    rgba(183, 59, 255, 1) 89%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  position: absolute;
  bottom: 20px;
  font-family: "Roboto", sans-serif;
  animation: header-drop-in 4s 1;
  text-align: center;
}

.shape-container {
  height: 100vh;
  border-bottom: 1px solid lightgray;
}

.x-shape:nth-child(2) {
  background-color: yellow;
  top: 60px;
  left: calc(200px);
}

.x-shape:nth-child(2) div {
  background-color: yellow;
}

.x-shape:nth-child(3) {
  background-color: turquoise;
  height: 48px;
  width: 128px;
  top: 180px;
  left: 150px;
}

.x-shape:nth-child(3) div {
  background-color: turquoise;
  height: 48px;
  width: 128px;
}

.vertical-line {
  height: 24px;
  width: 64px;
  background-color: orchid;
  transform: rotate(90deg);
}

.hide-border {
  height: 48px;
  width: 48px;
  background-color: slateblue;
}

.triangle {
  background: orange;
  position: absolute;
  top: 300px;
  left: 40px;
  height: 80px;
  width: 80px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 90%);
  animation: trangle-fade-in 2s 1;
}

.circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background: chartreuse;
  position: absolute;
  top: 100px;
  right: 100px;
  animation: circle-drop-in 4s 1;
}

.x-to-chevron {
  height: 70px;
  width: 70px;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    50% 70%,
    70% 50%,
    70% 50%,
    70% 50%,
    50% 30%,
    50% 30%
  );
  background-color: black;
  animation: turn-to-chevron 3s 1;
}

.introduction {
  background: orange;
}

.profile-card {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.img-container {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  background-image: url("imgs/userpic.jpg");
  background-size: cover;
  margin-right: 20px;
}

.margin {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.profile-card .name {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: rgb(32, 32, 32);
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  margin-top: 20px;
}

.name i {
  margin-right: 10px;
  font-size: 32px;
  color: rgb(150, 150, 150);
}

.profile-card .title {
  padding-top: 10px;
  font-size: 15px;
  color: rgb(32, 32, 32);
  display: flex;
  margin-bottom: 10px;
}

.title i {
  margin-right: 10px;
  color: rgb(150, 150, 150);
}

.date-of-birth {
  display: flex;
  font-size: 15px;
  color: rgb(32, 32, 32);
}

.home {
  margin-top: 10px;
  display: flex;
  font-size: 15px;
  color: rgb(32, 32, 32);
}

.home i {
  margin-right: 10px;
  color: rgb(150, 150, 150);
}

.date-of-birth i {
  color: rgb(150, 150, 150);

  margin-right: 10px;
}

.main-info {
  font-size: 32px;
  font-weight: bold;
  color: rgba(183, 59, 255, 1);
  margin-bottom: 20px;
}

.services {
  margin-top: 20px;
}

.service-cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.service-card {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 24px 0px rgba(33, 33, 33, 0.274);
  margin-bottom: 20px;
}

.service-title {
  margin-bottom: 10px;
  font-size: 20px;
}

.icon i {
  font-size: 50px;
  color: lightgray;
  margin-bottom: 10px;
}

.footer {
  height: 7vh;
  display: flex;
  align-items: center;
  border-top: 1px solid lightgray;
}

.footer a {
  text-decoration: none;
}

.footer a i {
  margin-left: 20px;
  font-size: 20px;
  color: rgb(150, 150, 150);
}

.footer a i:hover {
  transform: rotate(360deg);
  color: rgba(183, 59, 255, 1);
  transition: 0.8s;
}

.skill-container {
  margin-bottom: 20px;
}

.skill {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 0.5px solid lightgray;
}
.skill-name {
  margin-right: 10px;
}

@keyframes uprise {
  0% {
  }
  100% {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes rotate-fade-in {
  0% {
    transform: scale(0%);
  }

  100% {
    transform: scale(100%) rotate(315deg);
  }
}

@keyframes bubbling {
  0% {
    border-radius: 50% 50% 65% 35% / 46% 41% 59% 54%;
  }
  30% {
    left: 100px;
    top: 30px;
    border-radius: 38% 62% 45% 55% / 49% 54% 46% 51%;
  }
  60% {
    top: 0;
    left: 300px;
    border-radius: 72% 28% 60% 40% / 34% 58% 42% 66%;
  }
}

@keyframes trangle-fade-in {
  0% {
    clip-path: polygon(50% 0%, 0% 100%, 100% 90%);
  }

  30% {
    clip-path: polygon(76% 0, 0 90%, 0 0);
  }

  40% {
    clip-path: polygon(76% 0, 85% 98%, 0 0);
  }

  50% {
    clip-path: polygon(0 99%, 85% 98%, 0 0);
  }
}

@keyframes turn-to-chevron {
  10% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(360deg);
  }
}

@keyframes header-drop-in {
  from {
    left: -1000px;
  }

  to {
    left: 0px;
  }
}

@keyframes circle-drop-in {
  from {
    right: 400px;
    top: -120px;
    transform: scale(0%);
  }
  to {
    right: 100px;
    top: 100px;
    transform: scale(100%);
  }
}

@media screen and (max-width: 1200px) {
  .header-title {
    font-size: 40px;
    text-align: left;
  }

  .introduction {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .img-container {
    height: 150px;
    width: 150px;
  }

  .skill {
    flex-direction: column;
  }

  .header-title {
    font-size: 40px;
    top: 80%;
  }

  .about h1 {
    font-size: 40px;
  }

  .about p {
    font-size: 20px;
  }

  .profile-card {
    flex-direction: column;
  }

  .img-container {
    min-height: 250px;
    min-width: 250px;
  }
}
